<nav class="navbar navbar-expand-md bg-success navbar-dark navbar-fixed-top">
    <a class="navbar-brand" href="~/Home/Index" style=" color:#3399FF;">
        <img src="~/images/logo.jpg" alt="Logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#publicNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="publicNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-light" href="~/Read/Index">Materials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="">Discussion Board</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="~/Read/Organizations">Organizations</a>
            </li>           
            <li class="nav-item">
                <a class="nav-link text-light" href="~/Entertainment/Games">Games</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!-- A link for logging in user -->
                <a class="nav-link text-light" href="~/Home/Login">Log In</a>
            </li>
        </ul>
    </div>
</nav>
