<a href="https://www.sgclean.gov.sg/join/for-individuals/" class="text-black font-weight-bold">
    <h3 style="color: #333;">
        1. SGClean
    </h3>
</a>
<br />
<div class="organizationBox">
    <a href="https://www.sgclean.gov.sg/join/for-individuals/">
        <img src="~/images/sgclean_logo.jpg" alt="SGClean" height="100" class="rounded-lg">
    </a>
    <br /><br />
    <small class="text-muted">https://www.sgclean.gov.sg/</small>
    <br /><br />
    <p>
        SGClean is a campaign launched by the National Environment Agency (NEA) in 2020 which aims to unite stakeholders and members of the public to do their part in raising standards of cleanliness and public hygiene in Singapore, and safeguarding public health by adopting healthy personal habits and social responsibility.<br /><br />
        There are 2 main volunteering options available one of which is for Individuals, where people are encouraged to adjust to the social norms caused by Covid-19 and adopt good personal habits. The second option is for Owners of Premises, where the cleaniness of the public premise is strongly encouraged.
    </p>
    <br />
</div>
<hr />
<!-------------------------------------------------------------------------------------------->
<a href="https://www.greennudge.sg/what-we-offer" class="text-black font-weight-bold">
    <h3 style="color: #333;">
        2. Green Nudge
    </h3>
</a>
<br />
<div class="organizationBox">
    <a href="https://www.greennudge.sg/what-we-offer">
        <img src="~/images/Greennudge_logo.png" alt="Green Nudge" height="100" class="rounded-lg">
    </a>
    <br />
    <small class="text-muted">https://www.greennudge.sg/</small>
    <br /><br />
    <p>
        GreenNudge is a social enterprise launched in 2018 by founder, Li Seng, that aims to be the go-to sustainability business partner for building successful green communities by empowering community builders and communities in their sustainability journey through meaningful experiences. Green Nudge also established Green Collar, a green jobs platform, to fulfill the growing demand for green occupations in topics such as sustainability and climate change.<br /><br />
        They offer services such as cleanups, workshops, learning journeys, training and consultancy services to help enpower the community in terms of environmental knowledge.
    </p>
    <br />
</div>
<hr />
<!-------------------------------------------------------------------------------------------->
<a href="https://sec.org.sg/volunteer/" class="text-black font-weight-bold">
    <h3 style="color: #333;">
        3. Singapore Environment Council
    </h3>
</a>
<br />
<div class="organizationBox">
    <a href="https://sec.org.sg/volunteer/">
        <img src="~/images/sec_logo.jpeg" alt="Singapore Environment Council" height="100" class="rounded-lg">
    </a>
    <br /><br />
    <small class="text-muted">https://sec.org.sg/</small>
    <br /><br />
    <p>
        Singapore Environment Council (SEC) is an independent  non-profit, non-governmental organisation (NGO) that was launched in 1995 to be a trusted leader in environmental sustainability and encourage and achieve environmental sustainability through fostering long-term environmental and cultural values. They accomplish this by collaborating with individuals/industries and governments, establishing sustainability standards for green consumerism, educating and empowering communities to lead green lifestyles, promoting biodiversity in urban areas, and recognizing environmental excellence by individuals and organizations.<br /><br />
        They have launced a service called Earth Helpers to encourage environmental participation among the general public and companies, where volunteers come from all walks of life and from a variety of backgrounds Volunteers can chose from a variety of initiatives within various community and industrial organizations.
    </p>
    <br />
</div>
<hr />
<!-------------------------------------------------------------------------------------------->
<a href="https://www.wwf.sg/get_involved/" class="text-black font-weight-bold">
    <h3 style="color: #333;">
        4. WWF Singapore
    </h3>
</a>
<br />
<div class="organizationBox">
    <a href="https://www.wwf.sg/get_involved/">
        <img src="~/images/WWF_Logo.jpg" alt="WWF" height="150" class="rounded-lg">
    </a>
    <br /><br />
    <small class="text-muted">https://www.wwf.sg/get_involved/</small>
    <br /><br />
    <p>
        The World Wide Fund for Nature (WWF) is one of the biggest independent conservation organisation in the world that was launched in 1961 by people who were concerned about the environment and the animals living in it. Since 1961, The WWF has expanded to over 100 countries and currently has more than 5 million supporters. They reached out to Singapore in 2006 and aims to motivate individuals and organizations to make good changes in their lives and businesses.<br /><br />
        They provide services such as awareness campaigns and outreach activities, with the goal of educating people from all walks of life on how small actions may add up to make a huge impact in our environment and protect the world's biodiversity. They also work with businesses both locally and throughout the Asia Pacific region to discover sustainable business practices and ways to lessen their environmental footprint on the world.
    </p>
    <br />
</div>
<hr />
