@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<img src="~/images/carGlobalWarming.jpg" style="height:60vh; width=60vh" />
<br />
<a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.greenmatters.com%2Fp%2Fwhat-emissions-do-cars-produce&psig=AOvVaw1Fm5u9p1XyUtx6lYyAEcyz&ust=1636566268444000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNDtg-Hqi_QCFQAAAAAdAAAAABAD">Link</a>
<br />
<h1>Top 10 Car companies that harms the environment</h1>

<div>
    <a href="#">1. </a><br />
    <a href="#">2. </a><br />
    <a href="#">3. </a><br />
    <a href="#">4. </a><br />
    <a href="#">5. </a><br />
    <a href="#">6. </a><br />
    <a href="#">7. </a><br />
    <a href="#">8. </a><br />
    <a href="#">9. </a><br />
    <a href="#">10. </a><br />
</div>

<h3>1. Nestle</h3>
<p>
    t is a long established fact that a reader will be distracted by the readable
    content of a page when looking at its layout. The point of using Lorem Ipsum
    is that it has a more-or-less normal distribution of letters, as opposed to using
    'Content here, content here', making it look like readable English. Many desktop
    publishing packages and web page editors now use Lorem Ipsum as their default model
    text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
    arious versions have evolved over the years, sometimes by accident, sometimes on purpose
    (injected humour and the like).
</p>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>
<h1>Cars</h1>