@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<img src="~/images/carGlobalWarming.jpg" style="height:60vh; width=60vh" />
<br />
<a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.greenmatters.com%2Fp%2Fwhat-emissions-do-cars-produce&psig=AOvVaw1Fm5u9p1XyUtx6lYyAEcyz&ust=1636566268444000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNDtg-Hqi_QCFQAAAAAdAAAAABAD">Link</a>
<br />
<h1>Top 10 Car companies that harms the environment</h1>

<div>
    <a href="#volks">1. Volkswagen</a><br />
    <a href="#bmw">2. Bayerische Motoren Werke GmbH (BMW)</a><br />
    <a href="#toyota">3. Toyota</a><br />
    <a href="#">4. </a><br />
    <a href="#">5. </a><br />
    <a href="#">6. </a><br />
    <a href="#">7. </a><br />
    <a href="#">8. </a><br />
    <a href="#">9. </a><br />
    <a href="#">10. </a><br />
</div>

<div id="volks">
    <h3>1. Volkswagen</h3>
    <p style="width:60%">
        It was claimed that the cars being sold by Volkswagen were fitted with devices that appears
        to put the vehicle under a sort of safety mode which could detect when they were being tested,
        causing the engine to run below normal power and performance. After the engines were switched
        out of the test mode, it was shown that the engines emitted nitrogen oxide pollutants up to
        40 times above what is allowed in the US.
    </p>
    <a href="https://www.bbc.com/news/business-34324772">Link to source</a>
</div>

<div id="bmw">
    <h3>2. Bayerische Motoren Werke GmbH (BMW)</h3>
    <p style="width:60%">
       The EU issued fines of $1 billion to Volkswagen and BMW for their involvement in the emissions cartel
        Like Volkswagen, it was claimed that BMW also possesses the technology to reduce harmful emissions 
        beyond what was legally required under the EU emission standard but avoided to compete on using that
        technology's full potential to clean better than what is required by law.
    </p>
    <a href="https://techcrunch.com/2021/07/08/eu-fines-bmw-vw-1b-for-running-emissions-cartel-since-the-90s/">Link to source</a>
</div>

<div id="toyota">
    <h3>3. Toyota</h3>
    <p style="width:60%">
        The world's top-selling carmaker Toyota has come joint last in a Greenpeace ranking of carbon emission 
        efforts by auto firms, according to a list published Thursday during the COP26 climate summit. Toyota 
        was given a F minus minus grade for decarbonisation efforts including phasing out engines that burn
        plant-warming fossil fuels in favour of electric vehicles.
    </p>
    <a href="https://www.france24.com/en/live-news/20211103-toyota-ranked-one-of-worst-major-automakers-for-emissions-efforts">Link to source</a>
</div>

<div id="ford">
    <h3>4. Ford</h3>
    <p style="width:60%">
        Three quarters of the planet-heating CO2 emissions Ford is responsible for come from consumers driving its cars.
        The vehicles that ford sells create 135 million metric tons of carbon dioxide, according to a sustainability
        report that the company released. That is almost as much as as 35 coal-fired power plants would produce in a
        year.
    </p>
    <a href="https://www.theverge.com/2020/6/24/21300974/ford-carbon-neutral-2050-climate-change-fuel-efficiency">Link to source</a>
</div>


<h3>1. Nestle</h3>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>

<h3>1. Nestle</h3>