@{
    ViewData["Title"] = "Learning Material - Energy";
}

<!DOCTYPE HTML>
<html style="scroll-behavior:smooth">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <img src="~/images/coal.jpg" style="height:60vh; width=70vh" class="mt-3" />
    <br />
    <p style="font-size:8px">Image Source : <a>https://images.app.goo.gl/iqnyqHHS4jFkvyoE9</a></p>

    <div>
        <h2>The best and worst Energy sources for the environment</h2><br />
        <h5>Bad</h5><hr />
        <a href="#coal">1. Coal </a><br />
        <a href="#oil">2. Petroleum</a><br />
        <a href="#gas">3. Natural Gas</a><br />
        <a href="#bfuel">4. Biofuel</a><br />
        <h5>Good</h5><hr />
        <a href="#Rad">1. Nuclear</a><br />
        <a href="#sun">2. Solar</a><br />
        <a href="#wind">3. Wind</a><br />
        <a href="#geo">4. Geothermal</a><br />
        <a href="#hydro">5. Hydroelectric</a><br />
        <h5>Summary</h5><hr />
        <a href="#you">What You Can Do</a><br />
    </div>

    <br />

    <h2>Environmentally Unsustainable</h2>

    <div id="coal">
        <h3>1. Coal</h3>
        <p style="width:60%">
            Releases greenhouse gasses when burned, contributing toglobal warming.
            Releases many toxic gasses and pollutants when combusted, such as sulfur dioxide, nitrogen oxides, and mercury.
            Mining of coal can cause cave ins, and acidic water can drain from abandoned underground mines
            Mining could also cause underground fires that burn for decades.

        </p>
        <a href="https://www.eia.gov/energyexplained/coal/coal-and-the-environment.php" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="oil">
        <h3>2. Petroleum</h3>
        <p style="width:60%">
            Exploring and drilling for oil may disturb land and marine ecosystems.
            Seismic techniques used to explore for oil under the ocean floor may harm fish and marine mammals.
            Drilling an oil well on land often requires clearing an area of vegetation
            Fracking, or hydraulic fracturing, requires large amounts of water, and it uses potentially hazardous chemicals to release the oil to fracture rocks.
            Faulty well construction or improper handling may result in leaks and spills of fracturing fluids.
            Fracking also produces large amounts of wastewater that is difficult to process
            Oil spills contaminate soil and/or water and may cause explosions and fires
            Wells are required to be properly plugged after they have been depleted, but if they are not plugged propperly, they can be hazardous, leaking fluids and/or gasses that interfere with future surface development.

        </p>
        <a href="https://www.eia.gov/energyexplained/oil-and-petroleum-products/oil-and-the-environment.php" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="gas">
        <h3>3. Natural Gas</h3>
        <p style="width:60%">
            May be the most environmentally friendly form of fossil fuel, but still releases large amounts of carbon dioxide when burned
            Natural gas is less dense than air, so if it leaks, it is virtually impossible to recapture.
            It is made up in large part of methane, so if it does escape, it will largely contribute to global warming, with methane being baout 90 times more effective at trapping heat than carbon dioxide.
        </p>
        <a href="https://www.nationalgeographic.com/science/article/super-potent-methane-in-atmosphere-oil-gas-drilling-ice-cores" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="bfuel">
        <h3>4. Biofuel</h3>
        <p style="width:60%">
            Biofuels may reduce some pollutant emissions. Ethanol, in particular, can ensure complete combustion, reducing carbon monoxide emissions.
            Diverting crops to biofuels may lead to more land area devoted to agriculture, increased use of polluting inputs, and compete for resources that would otherwise be devoted to food production
            Biofuel feedstocks grown on land cleared from tropical forests, such as soybeans in the Amazon and oil palm in Southeast Asia, generate particularly high greenhouse gas(GHG) emissions.
            Biofuel production and processing practices can also release GHGs. Fertilizer application releases nitrous oxide, a potent greenhouse gas.
            Most biorefineries operate using fossil fuels.
            Research suggests that production of biofuel feedstocks, such as corn and soy, could increase water pollution from nutrients, pesticides, and sediment.
            Air quality could  decline in regions due to tailpipe emissions from biofuel.
            Additional emissions generated at biorefineries increases net conventional air pollution.
        </p>
        <a href="https://www.epa.gov/environmental-economics/economics-biofuels" target="_blank">Link to source</a>
    </div>
    <br />

    <h2>Environmentally Friendly</h2>

    <div id="rad">
        <h3>1. Nuclear</h3>
        <p style="width:60%">
            Does not produce any polluting gases.
            Does not contribute to global warming.
            Very low fuel costs.
            Power stations have a very long lifetime.
            Low fuel quantity reduces mining and transportation effects on environment.
            Of the eight energy sources profiled by Forbes, nuclear has the lowest global mortality rate, with just 90 people killed per trillion kWh produced.(including the deaths due to the chernobyl and fukushima disasters)
            Creates nuclear waste that has to be sealed in underground repositories.
            Local thermal pollution from wastewater(clean water) affects marine life.
        </p>
        <a href="https://www.bbc.co.uk/bitesize/guides/zyqnrwx/revision/2" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="sun">
        <h3>2. Solar</h3>
        <p style="width:60%">
            Solar energy is a renewable resource, as the sun will effectively always be there to supply energy.
            Solar energy has a substantially reduced impact on the environment compared to fossil fuels. Its greenhouse gas emissions are inconsequential as the technology does not require any fuel combustion.
            limited by how long the sun is out
            it contains many of the same hazardous materials as electronics.
        </p>
        <a href="https://www.investopedia.com/articles/investing/053015/pros-and-cons-solar-energy.asp" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="wind">
        <h3>3. Wind</h3>
        <p style="width:60%">
            Wind energy doesn't pollute the air like power plants that rely on combustion of fossil fuels.
            Wind supply is abundant and inexhaustible.
            Wind turbines can be built on existing farms or ranches. This greatly benefits the economy in rural areas, where most of the best wind sites are found.
            Good land-based wind sites are often located in remote locations, far from cities where the electricity is needed.
            Some types of wind turbines have caused bird and bat deaths.

        </p>
        <a href="https://www.energy.gov/eere/wind/advantages-and-challenges-wind-energy" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="geo">
        <h3>4. Geothermal</h3>
        <p style="width:60%">
            Geothermal energy is more environmentally friendly than conventional fossil fuels. In addition, the carbon footprint of a geothermal power plant is low.
            While there is some pollution associated with geothermal energy, this is relatively minimal compared to fossil fuels.
            Geothermal is a renewable energy source, lasting as long as earth would, and is always available to be tapped into, unlike other renweable energies, like solar and wind.
            However, geothermal plants need to be built in places where the energy is accessible, which means that some areas are not able to exploit this resource.
            Some greenhouse gases stored under the Earth’s surface are released into the atmosphere during digging.
            Geothermal energy also runs the risk of triggering earthquakes. This is due to alterations in the Earth’s structure as a result of digging.
        </p>
        <a href="https://www.twi-global.com/technical-knowledge/faqs/geothermal-energy/pros-and-cons" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="hydro">
        <h3>5. Hydroelectric</h3>
        <p style="width:60%">
            Unlike traditional fossil fuel energy sources, using water to generate electricity doesn’t release harmful pollutants into the air or water.
            hydroelectric plants don’t use up water as they operate, making hydropower a completely renewable electricity source.
            hydropower plants can be a stable source of supporting energy for more intermittent energy sources like wind and solar. Like an energy storage system, at times of low wind or at night when the sun isn’t shining, hydropower provides electricity
            However, hydropower systems interrupt the natural flow of a river system. This leads to disrupted animal migration paths, issues with water quality, and human or wildlife displacement.

        </p>
        <a href="https://www.renaultgroup.com/en/our-commitments/respect-for-the-environment/" target="_blank">Link to source</a>
    </div>
    <br />

    <h2>What Can You Do?</h2>

    <div id="you">
        <h3>You Can</h3>
        <p style="width:60%">
            Due to lack of natural features, singapore does not have much choice but to rely on natural gas as our main source of energy. However, there are still things you can personally do
            If you live in a landed property, you could install solar panels on your roof, as well as compact wind turbines, it you live in a windy area.
            If you have your own energy generators such as solar panels, you can register to have excess energy produced sold back to the grid.
            If you live in a condominium of HDB you could try to write to the owner/city council to suggest installation of solar panels.
        </p>
    </div>
    <br />

    <a href="#top">Go back to top</a>
</body>
</html>

