@{
    ViewData["Title"] = "Learning Material - Fashion";
}

<!DOCTYPE HTML>
<html style="scroll-behavior:smooth">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                               initial-scale = 1" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <img src="~/images/clothing waste.jpg" style="height:60vh; width=70vh" class="mt-3" />
    <br />
    <p style="font-size:8px">Image Source : <a>https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.theguardian.com%2Fsustainable-business%2F2017%2Fmay%2F26%2Fzara-hm-step-up-instore-recycling-tackle-throwaway-culture&psig=AOvVaw0yhDegTHjTFbO_-GfhDp8R&ust=1637201831126000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCICllaOqnvQCFQAAAAAdAAAAABAw</a></p>

    <div>
        <h2>The 5 best and worst fashion companies for the environment</h2><br />
        <h5>Bad</h5><hr />
        <a href="#shein">1. Shein</a><br />
        <a href="#vs">2. Victoria’s Secret</a><br />
        <a href="#mango">3. Mango</a><br />
        <a href="#hnm">4. H&M</a><br />
        <a href="#zara">5. Zara</a><br />
        <h5>Good</h5><hr />
        <a href="#olive">1. Olive Ankara</a><br />
        <a href="#haikini">2. Haikini </a><br />
        <a href="#etrican">3. Etrican</a><br />
        <a href="#sui">4. Sui</a><br />
        <a href="#sc">5. Source Collections</a><br />
    </div>

    <br />

    <h2>Environmentally Unsustainable</h2>

    <div id="shein">
        <h3>1. Shein</h3>
        <p style="width:60%">
            Shein is releases as many as 500 new items on its website everyday, which is concerning, as it perpetuates the mindset that clothese are disposable, and shoudld be thrown away after only one or two uses. Shein also does not bother to use eco-friendly materials which would help to reduce their carbon footprint, and has not made any effort to reduce the hazardous chemicals, carbon or other greenhouse gas emissions in its supply chain.
        </p>
        <a href="https://wear-next.com/news/is-shein-ethical-and-sustainable/" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="vs">
        <h3>2. Victoria’s Secret</h3>
        <p style="width:60%">
            They have a C grade in a <a href="https://baptistworldaid.org.au/resources/ethical-fashion-guide/" target="_blank">report</a>, '2021 Ethical Fashion Report' done by Baptist World aid Australlia
            They have mde no policies to minimise microplastics or textile waste in the manufacturing process.
            They signed up to Greenpeace’s “Detox My Fashion” program in 2011, to eliminate hazardous chemicals by 2020, but has shown no proof they they have succeeded in achieveing this goal.
        </p>
        <a href="https://goodonyou.eco/how-ethical-is-victorias-secret/" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="mango">
        <h3>3. Mango</h3>
        <p style="width:60%">
            There is no evidence they reduce carbon and other greenhouse gas emissions in their supply chain.
            There is no evidence they implement water reduction initiatives.
            There is no evidence that they have taken meaningful action to reduce or eliminate hazardous chemicals.
        </p>
        <a href="https://www.greenpeace.org/eastasia/blog/6889/the-worlds-top-carmakers-are-holding-us-back-on-climate-action-by-violating-co2-regulations-in-certain-markets/" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="hnm">
        <h3>4. H&M</h3>
        <p style="width:60%">
            H&M is the world's second biggest producer of fast fashion products, continues to promote disposable fashion and has a constant rotation of trends and products, resulting in a large amount of clothing items ending up in landfills after only a few uses.
            Furthermore, there is the industry wide issue of using toxic dyes, solvents and pesticides that result in massive carbon emmisions and uses large amounts of frfesh water and land resources, with H&M not making an effort to fix these issues, despite being an industry leader.
            While it is working to achieve their sustainability targets, it is still not quite enough for them to be sustainable, and so we should purchase from more eco-friendly shops until they are truly sustainable.
        </p>
        <a href="https://goodonyou.eco/how-ethical-is-hm/" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="zara">
        <h3>5. Zara</h3>
        <p style="width:60%">
            The brand releases 24 trend-led collections every year, 500 designs a week and almost 20,000 per year, contributing to fast fashion
            Their Join Life range (sustainable) accounts for such a small percentage of their collections that it fails to have much of an impact on the brand as a whole.
            Zara's transparency has been called into question ass they do not disclose how much resources they use in production.
            Similarly to H&M, Zara is taking steps to improve sustainnability, but is still a whiles away, and therefore you should seek out alternatives until they improve.
        </p>
        <a href="https://wear-next.com/news/is-zara-ethical-or-sustainable/" target="_blank">Link to source</a>
    </div>
    <br />

    <h2>Environmentally Friendly</h2>

    <div id="olive">
        <h3>1. Olive Ankara</h3>
        <p style="width:60%">
            Fights back as a 'slow fashion' brand, with zerro waste
            Their textiles are high quality and tightly woven to ensure that their products are long lasting.
            Excess fabrics as a byproduct from making their clothing are upcycled into other products, such as headbands.
            Unsold clothing are returned to the manufacturers to support their own local communities and economy.
        </p>
        <a href="https://sustainableguides.com/oliveankara-singapore-cultures-interwoven-into-fabrics-for-women-of-all-colors/" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="haikini">
        <h3>2. Haikini</h3>
        <p style="width:60%">
            Haikini upcycles excess materials to make complementary pouches
            THey have a event called swapaholic where people can turn in their bikinis and purchase ones turned in by other people.
            They are a local Singaporean brand, and therefore will not produce pollution from large shipping distances

        </p>
        <a href="https://haikini.co/blogs/news/haikini-x-swapaholic-supporting-circular-fashion" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="etrican">
        <h3>3. Etrican</h3>
        <p style="width:60%">
            Etrican is one of the first sustainable fashion brand in singapore, being sustainable since 2009
            their supply chain has been granted Global Organic Textile Organisation (GOTS)
            They use organic cotton, which uses less water and energy to grow, while also trapping CO2 in the soil, producing 94% less greenhouse gas emmisions.
            They are a local Singaporean brand, and therefore will not produce pollution from large shipping distances

        </p>
        <a href="https://hivelife.com/the-true-cost-of-fashion/" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="sui">
        <h3>4. Sui</h3>
        <p style="width:60%">
            Sui upcycles their fabric scraps into other products
            They work on small stock or per-order bases, to prevent overstock, which would lead to wastage
            they work by hand, reducing electricity consumption and emmisions
            They use plant based dyes, reducing pollution.
            they use minimal, plastic-free packaging using cardboard boxes & compostable bags, and use recycled paper for their tags
        </p>
        <a href="https://ethicalmadeeasy.com/ethical-brand/sui/" target="_blank">Link to source</a>
    </div>
    <br />

    <div id="sc">
        <h3>5. Source Collections</h3>
        <p style="width:60%">
            Source Collections heavily emphasizes transparency, showing their entire supply chain
            Their products are only made with hgh-quality sustainable materials, ensuring they last for a long time, such as tencel, one of the most environmentally friendly materials out there, and organic cotton.
            most of the water and solvents they use are recycled.

        </p>
        <a href="https://www.femalemag.com.sg/fashion/source-collections-eco-friendly-online-shopping-singapore/" target="_blank">Link to source</a>
    </div>
    <br />
    <a href="#top">Go back to top</a>
</body>
</html>

