@{
    ViewData["Title"] = "Materials";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 40%;
            border-radius: 5px;
        }

            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

        img {
            border-radius: 5px 5px 0 0;
        }

        .container {
            padding: 2px 16px;
        }

        @@media screen and (max-width: 600px) {
            .text-center {
                margin-left: auto;
                margin-right: auto;
            }
        }

    </style>
</head>
<body>
    <br />
    <h1 class="text-center font-weight-bold">Materials</h1>
    <hr />
    <h3 class="text-center font-weight-bold">Environmental Impact of Industries</h3>
    <hr />
    <br />
    <div class="row content">
        <div class="col-lg-1 col-sm"></div>
        <a href="~/Read/Cars/" class="text-center">
            <img src="~/images/car.jpg" alt="Automobile" height="250" class="mx-auto d-block">
        </a>
        <br />
        <div class="col-lg-1 col-sm"></div>
        <div class="col-lg-5 col-md-5 col-sm-12 text-center">
            <h3>Cars</h3>
            <br />
            <p>
                Read more on how cars impact the...
            </p>
            <br />
            <div class="text-center">
                <a class="btn btn-success text-white rounded-pill mr-2" href="~/Read/Cars/">Read</a>
            </div>
        </div>
    </div>
    <hr />
    <br />
    <div class="row content">
        <div class="col-lg-1 col-sm"></div>
        <a href="~/Read/Fashion/" class="text-center">
            <img src="~/images/fashion.jpeg" alt="Fashion" height="250" class="mx-auto d-block">
        </a>
        <br />
        <div class="col-lg-1 col-sm"></div>
        <div class="col-lg-5 col-md-5 col-sm-12 text-center">
            <h3>Fashion</h3>
            <br />
            <p>
                Read more on how fashion impact the...
            </p>
            <br />
            <div class="text-center">
                <a class="btn btn-success text-white rounded-pill mr-2" href="~/Read/Fashion/">Read</a>
            </div>
        </div>
    </div><hr />
    <br />
    <div class="row content">
        <div class="col-lg-1 col-sm"></div>
        <a href="~/Read/Electronics/" class="text-center">
            <img src="~/images/electronics.jpeg" alt="Electronics" height="250" class="mx-auto d-block">
        </a>
        <br />
        <div class="col-lg-1 col-sm"></div>
        <div class="col-lg-5 col-md-5 col-sm-12 text-center">
            <h3>Electronics</h3>
            <br />
            <p>
                Read more on how electronics impact the...
            </p>
            <br />
            <div class="text-center">
                <a class="btn btn-success text-white rounded-pill mr-2" href="~/Read/Electronics/">Read</a>
            </div>
        </div>
    </div><hr />
    <br />
    <div class="row content">
        <div class="col-lg-1 col-sm"></div>
        <a href="~/Read/FoodandBeverages/" class="text-center">
            <img src="~/images/food&beverages.jpg" alt="FoodandBeverages" height="250" class="mx-auto d-block">
        </a>
        <br />
        <div class="col-lg-1 col-sm"></div>
        <div class="col-lg-5 col-md-5 col-sm-12 text-center">
            <h3>Food & Beverages</h3>
            <br />
            <p>
                Read more on how Food & Beverages impact the...
            </p>
            <br />
            <div class="text-center">
                <a class="btn btn-success text-white rounded-pill mr-2" href="~/Read/FoodandBeverages/">Read</a>
            </div>
        </div>
    </div>

    <!--<div class="container d-flex flex-wrap text-center">
        <div class="card col-5 m-3">
            <div class="container">
                <a href="~/Read/Cars/" style="text-decoration:none">
                    <img src="~/images/car.jpg" alt="Automobile" style="width:100%">-->
                    @*https://media.autoexpress.co.uk/image/private/s--X-WVjvBW--/f_auto,t_content-image-full-desktop@1/v1597836660/autoexpress/2020/08/Porsche%20Taycan-19.jpg*@
                    <!--<h4><b>Cars</b></h4>
                </a>
            </div>
        </div>
        <div class="card  col-5 m-3">
            <div class="container">
                <a href="~/Read/FoodandBeverages" style="text-decoration:none">
                    <img src="~/images/food&beverages.jpg" alt="Food & Beverages" style="width:100%">-->
                    @* https://restaurantindia.s3.ap-south-1.amazonaws.com/s3fs-public/styles/1200x706/public/content11850.jpg?itok=5eeWvkks *@
                    <!--<h4><b>Food & Beverages</b></h4>
                </a>
            </div>
        </div>
        <div class="card  col-5 m-3">
            <div class="container">
                <a href="~/Read/Fashion" style="text-decoration:none">
                    <img src="~/images/fashion.jpeg" alt="Fashion" style="width:100%">-->
                    @*https://images.pexels.com/photos/1536619/pexels-photo-1536619.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500*@
                    <!--<h4><b>Fashion</b></h4>
                </a>
            </div>
        </div>
        <div class="card col-5 m-3">
            <div class="container">
                <a href="~/Read/Electronics" style="text-decoration:none">
                    <img src="~/images/electronics.jpeg" alt="Electronics" style="width:100%">-->
                    @*https://images.pexels.com/photos/705164/computer-laptop-work-place-camera-705164.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500*@
                    <!--<h4><b>Electronics</b></h4>
                </a>
            </div>
        </div>
    </div>-->

    <br />
    <br />
    <h3>New York Time Articles<small class="text-muted"> (Environment)</small></h3>
    <hr />
    <div id="nytArticles" class="nytArticles">
        <!--nyt articles will be appended here-->
    </div>
    <script src="~/js/nytArticles.js"></script>
</body>

</html>