@{
    ViewData["Title"] = "Connect";
}
<br>
<h2 class="font-weight-bold text-center">Connect</h2>
<hr />
<h3>Volunteer in Singapore!</h3>
<hr />

<partial name="~/Views/Read/_OrganizationText.cshtml"/>

<h4 class="text-center text-success font-weight-normal">Login to View and Join Community Events hosted by members of the website!</h4>
<hr />