@{
    ViewData["Title"] = "Connect";
}
<br>
<h2 class="font-weight-bold text-center">Connect</h2>
<hr />
<h3>Volunnteer in Singapore!</h3>

<!-------------------------------------------------------------------------------------------->
<hr />
<a href="https://www.sgclean.gov.sg/join/for-individuals/" class="text-black font-weight-bold">
    <h3 style="color: #333;">
        1. SGClean
    </h3>
</a>
<br />
<div class="organizationBox">
    <a href="https://www.sgclean.gov.sg/join/for-individuals/">
        <img src="~/images/sgclean_logo.jpg" alt="SGClean" height="110" class="rounded-lg">
    </a>
    <br /><br />
    <small class="text-muted">https://www.sgclean.gov.sg/</small>
    <br /><br />
    <p>
        sgclean is a...
    </p>
    <br />
</div>
<hr />
<!-------------------------------------------------------------------------------------------->
<a href="https://www.greennudge.sg/what-we-offer" class="text-black font-weight-bold">
    <h3 style="color: #333;">
        2. GreenNudge
    </h3>
</a>
<br />
<div class="organizationBox">
    <a href="https://www.greennudge.sg/what-we-offer">
        <img src="~/images/Greennudge_logo.png" alt="GreenNudge" height="110" class="rounded-lg">
    </a>
    <br /><br />
          <small class="text-muted">https://www.greennudge.sg/</small>
    <br /><br />
    <p>
        GreenNudge is a...
    </p>
    <br />
</div>
<hr />
<!-------------------------------------------------------------------------------------------->
<a href="https://sec.org.sg/volunteer/" class="text-black font-weight-bold">
    <h3 style="color: #333;">
        3. Singapore Environment Council
    </h3>
</a>
<br />
<div class="organizationBox">
    <a href="https://sec.org.sg/volunteer/">
        <img src="~/images/sec_logo.jpeg" alt="Singapore Environment Council" height="110" class="rounded-lg">
    </a>
    <br /><br />
          <small class="text-muted">https://sec.org.sg/</small>
    <br /><br />
    <p>
        Singapore Environment Council is a...
    </p>
    <br />
</div>
<hr />
<!-------------------------------------------------------------------------------------------->
<a href="https://www.wwf.sg/get_involved/" class="text-black font-weight-bold">
    <h3 style="color: #333;">
        4. WWF Singapore
    </h3>
</a>
<br />
<div class="organizationBox">
    <a href="https://www.wwf.sg/get_involved/">
        <img src="~/images/WWF_Logo.jpg" alt="WWF" height="150" class="rounded-lg">
    </a>
    <br /><br />
          <small class="text-muted">https://www.wwf.sg/get_involved/</small>
    <br /><br />
    <p>
        WWF is a...
    </p>
    <br />
</div>
<hr />
<!-------------------------------------------------------------------------------------------->