@model IEnumerable<PFD_SaveTheEnvironment.Models.Comments>

@{
    ViewData["Title"] = "Comments";
}
<br />
<h2 class="PageTitle text-center font-weight-bold">Discussion Board</h2>
<hr />
<br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<hr />
@if (Model.ToList().Count > 0)
{
    @foreach (var item in Model.OrderByDescending(c => c.Id).ToList())
    {
        <h6>@item.UserName <small class="text-muted font-weight-normal">Commented</small></h6>
        <p>@item.Comment</p>
        <hr />

    }
}
else
{
    <span style="color:red">No Comments found!</span>
    <hr />
}
<br />
<div class="text-center">
    <a class="btn btn-primary text-white rounded-pill mr-2" asp-action="Index" asp-controller="Home">Home</a>
</div>

