@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <br /><br />
    <div class="h2">Welcome to PolyEarth!</div>
    <br />
    <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ipVxxxqwBQw"
         title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
         allowfullscreen></iframe>
    </div>
</body>

</html>