* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.iframe-container iframe{
    position:relative;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
