@{
    ViewData["Title"] = "Games";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<style>
    /* or put this in your stylesheet */
    /* credits to https://stackoverflow.com/questions/3682805/javascript-load-a-page-on-button-click */

    .button {
        display: inline-block;
        padding: 3px 5px;
        border: 1px solid #000;
        background: #eee;
        font-size:200%;
    }

</style>
<body>
    <br>
    <table class="table table-striped table-bordered table-hover table-info">
        <thead>
            <tr style="text-align:center; align-content:center; align-items:center;">
                <th scope="col">Games</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align:center; align-content:center; align-items:center;" class="table-warning">
                <th scope="row"><a href="~/Entertainment/FlappyEarth" class="btn btn-primary">FlappyEarth!</a></th>
            </tr>
            <tr style="text-align:center; align-content:center; align-items:center;" class="table-warning">
                <th scope="row"><a href="~/Entertainment/dinoGame" class="btn btn-primary">dinoGame!</a></th>
            </tr>
        </tbody>
    </table>
</body>

</html>