@{
    ViewData["Title"] = "Games";
}

<!DOCTYPE HTML>
<style>
    .button {
        display: inline-block;
        padding: 3px 5px;
        border: 1px solid #000;
        background: #eee;
        font-size: 200%;
    }

    @@media screen and (max-width: 600px) {
        .text-center {
            margin-left:auto;
            margin-right:auto;
        }
    }
</style>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <br>
    <h1 class="font-weight-bold text-center">PolyEarth Games</h1>
    <hr />
    <br />
    <div class="row">
        <div class="col-lg-1 col-sm"></div>
        <a href="~/Entertainment/dinoGame" class="text-center">
            <img src="~/images/GravitEarth.png" alt="GravitEarth" width="325" height="325" class="mx-auto d-block" />
        </a>
        <br />
        <div class="col-lg-1 col-sm"></div>
        <div class="col-lg-5 col-md-5 col-sm-12 text-center">
            <h3>GravitEarth</h3>
            <br />
            <p>
                Play GravitEarth on our website where you navigate the Earth through various obstacles that threaten its destruction!
            </p>
            <br />
            <div class="text-center">
                <a class="btn btn-primary text-white rounded-pill mr-2" asp-action="FlappyEarth" asp-controller="Entertainment">Play</a>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row">
        <div class="col-lg-1 col-sm"></div>
        <a href="~/Entertainment/dinoGame" class="text-center">
            <img src="~/images/EarthJump.png" alt="EarthJump" width="325" height="325" class="mx-auto d-block" />
        </a>
        <br />
        <div class="col-lg-1 col-sm"></div>
        <div class="col-lg-5 col-md-5 col-sm-12 text-center">
            <h3>EarthJump!</h3>
            <br />
            <p>
                Play EarthJump! on our website where you play as the Earth and need to hop over the many obstacles that stand in your way!
            </p>
            <br />
            <div class="text-center">
                <a class="btn btn-primary text-white rounded-pill mr-2" asp-action="dinoGame" asp-controller="Entertainment">Play</a>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row">
        <div class="col-lg-1 col-sm"></div>
        <a href="~/Entertainment/HangMan" class="text-center">
            <img src="" alt="Hang Man" width="325" height="325" class="mx-auto d-block" />
        </a>
        <br />
        <div class="col-lg-1 col-sm"></div>
        <div class="col-lg-5 col-md-5 col-sm-12 text-center">
            <h3>HangMan!</h3>
            <br />
            <p>
                Play EarthJump! on our website where you play as the Earth and need to hop over the many obstacles that stand in your way!
            </p>
            <br />
            <div class="text-center">
                <a class="btn btn-primary text-white rounded-pill mr-2" asp-action="HangMan" asp-controller="Entertainment">Play</a>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="text-center">
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="showCredits()" id="creditsButton">Hide Credits</button>
        <br />
        <div id="gameCredits" class="gameCredits">
            <br />
            <p>Earth logo by <a href="https://www.flaticon.com/authors/freepik" target="_blank">Visit freepik!</a> </p>
            <div> Nestle icon made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div> Coca Cola Icon made by <a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart">smalllikeart</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div> Pepsi Icon made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div> Vistra Icon made in Microsoft Powerpoint, Company: <a href="https://www.vistracorp.com/" title="Flaticon">Vistra Energies</a></div>
            <div> LYB Icon made in Microsoft Powerpoint, Company: <a href="https://www.lyondellbasell.com/" title="Flaticon">LyondellBasell</a></div>
            <br />
            <div> GravitEarth and EarthJump referred from <a href="https://www.w3schools.com/graphics/game_intro.asp" title="Freepik">W3Schools</a></div>
            <br />
            <div> List of polluters based on different categories <a href="https://peri.umass.edu/greenhouse-100-polluters-index-current" title="Freepik">Political Economy Research Institute</a></div>
        </div>
    </div>
    <br />
    <script>
        function showCredits() {
            var gameCredits = document.getElementById("gameCredits");
            if (gameCredits.style.display === "none") {
                gameCredits.style.display = "block";
                document.getElementById("creditsButton").innerHTML = 'Hide Credits'
            } else {
                gameCredits.style.display = "none";
                document.getElementById("creditsButton").innerHTML = 'Show Credits'
            }
        }
    </script>
</body>
</html>