@{
    ViewData["Title"] = "Games";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<style>
    /* or put this in your stylesheet */
    /* credits to https://stackoverflow.com/questions/3682805/javascript-load-a-page-on-button-click */

    .button {
        display: inline-block;
        padding: 3px 5px;
        border: 1px solid #000;
        background: #eee;
        font-size:200%;
    }

</style>
<body>
    <br>
    <h1 class="font-weight-bold text-center">PolyEarth Games</h1>
    <hr />
    <br />
    <div class="row text-center center-block">
        <div class="col-1"></div>
        <a href="~/Entertainment/FlappyEarth">
            <img src="~/images/GravitEarth.png" alt="GravitEarth" width="325" height="325" class="rounded-lg" />
        </a>
        <div class="col-1"></div>
        <div class="col-5">
            <h3>GravitEarth</h3>
            <br />
            <p>
                Play GravitEarth on our website where you navigate the Earth through various obstacles that threaten its destruction!
            </p>
            <br />
            <div class="text-center">
                <a class="btn btn-primary text-white rounded-pill mr-2" asp-action="FlappyEarth" asp-controller="Entertainment">Play</a>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row text-center center-block">
        <div class="col-1"></div>
        <a href="~/Entertainment/dinoGame">
            <img src="~/images/EarthJump.png" alt="GravitEarth" width="325" height="325" class="rounded-lg" />
        </a>
        <div class="col-1"></div>
        <div class="col-5">
            <h3>EarthJump!</h3>
            <br />
            <p>
                Play EarthJump! on our website where you play as the Earth and need to hop over the many obstacles that stand in your way!
            </p>
            <br />
            <div class="text-center">
                <a class="btn btn-primary text-white rounded-pill mr-2" asp-action="dinoGame" asp-controller="Entertainment">Play</a>
            </div>
        </div>
    </div>
</body>
