@{
    ViewData["Title"] = "PointRedemption";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width,
                                           initial-scale = 1" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>


<body>
    <h1>Point Redemption</h1>
    <div class="container d-flex flex-wrap">

        <div class="card col-3 m-3 p-0">
            <button href="" style="text-decoration:none">
                <div class="container">
                    <h4 class="text-nowrap"><b>Icon Frame</b></h4>
                    <h5>cost: 500</h5>
                    <img src="~/images/frame1.png" alt="frame1" style="width:100%">
                    @*https://www.pngkit.com/png/full/66-667623_level-1-summoner-icon-border-league-of-legends.png*@
                    <h4><b>Redeem</b></h4>
                </div>
            </button>
        </div>

        <div class="card  col-3 m-3 p-0">
            <button href="" style="text-decoration:none">
                <div class="container">
                    <h4 class="text-nowrap"><b>Icon Frame</b></h4>
                    <h5>cost: 1000</h5>
                    <img src="~/images/frame2.png" alt="frame2" style="width:100%">
                    @* https://www.nicepng.com/png/full/14-146964_level-300-summoner-icon-border-poker.png *@
                    <h4><b>Redeem</b></h4>

                </div>
            </button>
        </div>

        <div class="card col-3 m-3 p-0">
            <button href="" style="text-decoration:none">
                <div class="container">
                    <h4 class="text-nowrap"><b>Icon Frame</b></h4>
                    <h5>cost: 2500</h5>
                    <img src="~/images/frame3.png" alt="frame3" style="width:100%">
                    @*https://www.pngkit.com/png/full/172-1726769_level-150-summoner-icon-border-level-150-league.png*@
                    <h4><b>Redeem</b></h4>
                </div>
            </button>
        </div>

        <div class="card col-3 m-3 p-0">
            <button href="" style="text-decoration:none">
                <div class="container">
                    <h4 class="text-nowrap"><b>Icon Frame</b></h4>
                    <h5>cost: 5000</h5>
                    <img src="~/images/frame4.png" alt="frame4" style="width:100%">
                    @*https://www.seekpng.com/png/full/66-667318_level-225-summoner-icon-border-league-of-legends.png*@
                    <h4><b>Redeem</b></h4>
                </div>
            </button>
        </div>
    </div>
    </div>

</body>

</html>